<div class="row">
    <h1 style="color: #235e50;">Proyectos Realizados</h1>
    <div class="contenedorr">
        <div class="col-sm-12 col-md-7 col-lg-7 parte 2">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eveniet deserunt autem, adipisci, ratione numquam placeat veritatis exercitationem ea fuga velit a asperiores nam molestias modi? Sint iure deleniti dolorem!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte 2">
            <img src="../../../assets/instagram.png"
            class="img-fluid img-proyecto">
        </div>
    </div>
</div>