<div class="row">
    <h1>Esperiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente velit, quam nihil ex reiciendis culpa exercitationem temporibus, ad natus maxime, sunt quod est ipsum obcaecati? Itaque, vitae praesentium. Vitae, sunt!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente velit, quam nihil ex reiciendis culpa exercitationem temporibus, ad natus maxime, sunt quod est ipsum obcaecati? Itaque, vitae praesentium. Vitae, sunt!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente velit, quam nihil ex reiciendis culpa exercitationem temporibus, ad natus maxime, sunt quod est ipsum obcaecati? Itaque, vitae praesentium. Vitae, sunt!</p>
        </ul>
    </div>
</div>