<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenJair.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Barbery Villanueva Jair</p>
        <p id="fsd">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8" id="acercademi">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eaque impedit fugiat quibusdam magnam, animi maxime perspiciatis doloribus nihil in illo a exercitationem vero iste inventore autem aperiam quasi laboriosam.
            </p>
        </span>
    </div>
</div>